/*
 * ----------------------------------------------------------------------------
 * 'gumax' style sheet for CSS2-capable browsers.
 *	   Loosely based on the monobook style
 *
 * @Version 3.4.1
 * @Author Paul Y. Gu, <gu.paul@gmail.com>
 * @Copyright paulgu.com 2006 - http://www.paulgu.com/
 * @License: GPL (http://www.gnu.org/copyleft/gpl.html)
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
 * http://www.gnu.org/copyleft/gpl.html
 * ----------------------------------------------------------------------------
 */

/* Basic Structure
-----------------------------------------------------------------------------*/
body
{
	font-size: x-small;
	margin: 0; padding: 0;
	min-width: 900px;
	/* background: #fafafa url('headbg.jpg') top left no-repeat fixed;   /* site background */
	/* background: transparent url('images/SubBackground.gif') left 34px repeat-x;   /* site background */
	background: #DDDDDD url('images/gumax_grey.gif') left 0 repeat-x;   /* site background */
}

body, td, th, input, textarea, pre, h1, h2, h3, h4, h5, h6 { color: #222; }
body, td, th, input, textarea { font-family: Verdana, Arial, 'Trebuchet MS'; }
pre { font-family: Monospace, Courier, Arial; }

#gumax-rbox
{
	width: 900px;  /* page width */
}

#gumax-wrapper
{
	/* background: #fff;  /* content background: white */
	background: transparent;
	font-size: 110%; /* web page font size */
	width: 100%;  /* IE6 fix */
}

/* Logo
-----------------------------------------------------------------------------*/
#p-logo,
#p-logo a,
#p-logo a:hover
{
	width:  180px;
	height: 72px;
}

#p-logo
{
	/* border: 1px solid #CC0033; /* debuging */
	z-index: 200;
	position: absolute; /*needed to use z-index */
	top:  20px;
	left: 10px; /* left margin of the logo, which is same as content margin */
	overflow: visible;
}
#p-logo h5 { display: none; }
#p-logo a,
#p-logo a:hover
{
	display: block;
	background-repeat: no-repeat;
	background-position: 35% 50% !important;
	text-decoration: none;
}

/* Header
-----------------------------------------------------------------------------*/
/* gumax-header */
#gumax-header
{
	/* border: 1px solid #CC0033; /* debuging */
	position: relative;
	z-index: 100;  /* make logo visible over content*/
	min-height: 90px;  /* height of header */
	height: 100px;  /* need for IE */
	margin: 0 auto;
	padding: 0;
}

/* Login
-----------------------------------------------------------------------------*/
#gumax-p-login {
	/* border:  1px solid #fff; /* debuging */
	font-size: 90%;
	margin-left: 0;
	padding-left: 0;
	text-transform: none;
	position: absolute;
	top: 7px;
	right: 0;
}

#gumax-p-login ul {
	position: relative;
	width: auto;
	list-style: none;
	margin: 0 10px;
}

#gumax-p-login ul li {
	position: relative;
	display: inline;  /* display in line  */
	margin: 0;
	color: #eee; /* color of "|" */
	font-size: 100%; /* font size of items */
}

#gumax-p-login ul li a
{
	padding: 2px 0 3px 12px;
	background: transparent url("nav_rrow.gif") left 1px no-repeat;
}

#gumax-pt-login a
{
	font-weight: bold;
	/* text-transform: uppercase; /* uppercase, capitalize */
}

/* Search
-----------------------------------------------------------------------------*/
#gumax-p-search {
	/* border:  1px solid #FFCC00; /* debuging */
	position: absolute;
	z-index: 3;
	top: 60px;
	right: 0;
}

#gumax-p-search .gumax-pBody,
#gumax-searchBody {
	/* border: 1px solid #99FF00;  /* testing */
	background: none;
	position: relative;
	padding: 0;
	margin-right:  10px;  /* right side margin of search, same as content margin */
	text-align: left;
	white-space: nowrap;	/* for Opera */
	vertical-align: middle;
}

#gumax-p-search form #searchInput {
	font-size: 100%;
	width: 12em;   /* text field width */
	text-align: left;
	vertical-align: middle;
	border: 1px solid #bbb; /* text field border style */
	background: #f7f7f7; /* background color of the text field */
}

#gumax-p-search form #searchGoButton,
#gumax-p-search form #mw-searchButton {
	font-family: Verdana, Sans-serif, Arial;
	vertical-align: middle;
	font-size: 100%;
	color: #555;  /* font color */
	text-decoration: none;
	/* background: #ddd; /* button background */
	/* border: 1px outset #999; /* border: 1px inset #777; */
	/* text-transform: uppercase; */
	padding: 0;
	margin: 0;
}

#searchGoButton:link, #searchGoButton:visited, #searchGoButton:hover, #searchGoButton:active,
#mw-searchButton:link, #mw-searchButton:visited, #mw-searchButton:hover, #mw-searchButton:active
{
	/* background: #FFCC00; */
	cursor: pointer;
}

/* dynamic article picture
-----------------------------------------------------------------------------*/
#gumax-article-picture {
	/* background: #fff; */
	border:  1px solid #ccc;
	background: #fff;
	text-align: left;
	padding: 0;
	margin: 2px 15px; /* same margin as content */
	/* display: none; /* disable gumax-article-picture */
}

#gumax-article-picture,
#gumax-article-picture a,
#gumax-article-picture a:hover {
	/* border: 3px solid #99FF00;  /* testing */
	height:	 148px;
	min-height: 148px; /* height of header */
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	text-decoration: none;
	color: #eee;
	font-weight: bolder;
	font-size: 102%;
}

/* Navigation Menu
-----------------------------------------------------------------------------*/
.gumax-portlet h5 { display: none; } /* hide menu title */

#gumax-p-navigation-wrapper
{
	/* border: 1px solid red; /* debuging */
	height: 22px;
	padding-right: 1px;
}

#gumax-p-navigation {
	/* border: 1px solid #000; /* debuging */
	float: right; /* main menu position */
}

#gumax-p-navigation ul {
	/* border: 1px solid red; /* debuging */
	margin: 0;
}

#gumax-p-navigation ul li {
	 float: left; /* fix the gap between <li> list */
	/* display: inline;  /* display in one line with gaps */
	margin: 0;
	padding: 0;
	font-weight: normal; /* the font weight of '|' */
	font-size: 130%;   /* the font size of the navigation menu */
	color: #7FBAFF;	/* the font color of '|' */
	list-style: none;
}

#gumax-p-navigation ul li a {
	padding: 4px 9px 4px 9px; /* padding inside the tab */
	margin: 0;
	font-weight: bold;
	font-family: 'Trebuchet MS', Georgia, Verdana, Sans-serif, Arial;
}

/* need for IE to display as block */
* html #gumax-p-navigation ul li a {
	display: block; /* Make the hyperlinks as a block element, sort of a hover effect */
	position: relative; /* need for IE */
}

#gumax_mainmenu_spacer
{
	height: 10px;
	border-top: 2px solid #0066CC;
}

/* siteNotice
-----------------------------------------------------------------------------*/
#siteNotice
{
	border: 1px solid #FF9933;
	background: #FFFFCC;
	margin: 0;
	padding: .9em;
	font-size: 100%;
}
#siteNotice p {
	margin: 0;
	padding: 0;
}
#siteNotice table {
	background: transparent;
	margin: 0;
	padding: 0;
}

/* content
-----------------------------------------------------------------------------*/
#gumax-content-body {
	/* border:  1px solid #CC6600;  /* debuging */
	padding: 0;
	margin: 0;
	width: 100%;
}

#content {
	border: none;
	background: transparent;
	margin: 0;

	padding: 0px 15px 1.2em 15px;  /* content margin */

	/* position: relative !important;  */
	position: static; /* need for IE positioning problem */
	z-index: 2;
	clear: both;
	color: black;
	line-height: 1.4em; /* value other than 'normal' needed for WinIE */
	overflow-x: visible;	/* need for Firefox, extreme long string :( */
}

/* content page title */
.page-Home .firstHeading { display: none; } /* Hide Home Page title */

#content .firstHeading
{
	font-size: 150%;
	color: #0066CC;
	font-weight: bolder;
	padding: 1em 0 0 0;  /* position of the title */
	margin: 0;
	border: none;  /* No border for page title */
	background: none;
	display: none;  /* disable papge title */
}

#bodyContent {
	/* border: 1px solid #ddd;  /* debuging */
	width: 100%;
}

/* AJax search style */
div#searchTargetContainer {
	left: 0px;
	top: 0px;
	width: 100%;
	background: white;
	overflow-x: visible;  /* need for Firefox, extreme long string :( */
	word-wrap: break-word;  /* need for IE, extreme long string :( */
}

div#searchTarget {
	padding:	10px;
	margin:	 5px;
	background: #fefefe;
	border:	 solid 1px #0066cc;
}

div#searchTarget h2 {
	padding-top: 1em;
	margin-bottom: .5em;
}

div#searchTarget a {
	position: relative;
	z-index: 300; /* fix the hide link button */
}

/* table of content styles */
#toc, .toc, .mw-warning {
	font-size: 100%;
	border: 1px solid #AAAAAA;
	background-color: #F5F5F5;
	padding: .5em;
	margin-bottom: 1.2em;
}

#toc h2, .toc h2 {
	font-size: 110%;
	border: none;
	margin: 0;  /* fix toc top margin */
	padding-right: .2em;  /* margin between title and hide/show link */
	display: inline;  /* display the hide/show link after Contents */
}

#toc #toctitle,
.toc #toctitle,
#toc .toctitle,
.toc .toctitle {
	text-align: left; /* left adjust of title */
}

#toc ul, .toc ul {
	list-style-type: none;
	list-style-image: none;
	margin:  0;
	padding: .3em 0 0 .7em; /* margin of the item list */
	text-align: left;
}
#toc ul ul, .toc ul ul,
#toc ul ul ul, .toc ul ul ul {
	margin: 0 0 0 .7em; /* toclevel-2 margin */
}

#toc .tocindent  { margin-left: 1em; }
#toc .tocline { margin-bottom: 0; }
#toc p { margin: 0 }
#toc .toctoggle { font-size: 90%; }

#toc .editsection {
	margin-top: .3em;
	font-size: 90%;
}

/*
 * --- body content ---
 */
/*
h1, h2 {
	padding-top: 1.32em;
	padding-bottom: .2em;
	border-bottom: 3px solid #ccc;
}
*/
h1, h2 {
	margin-top: 1.32em;
	padding: .35em .1em .3em 0;
	border-bottom: 3px solid #eee;
}
h3, h4, h5, h6 {
	margin-top: 1em;
	padding: .2em .1em .3em 0;
	border-bottom: 1px solid #eee;
}

ul {
	margin: .3em 0 0 1.5em;
	list-style-image: url("arrow.gif");
}
li {
	margin-left: .5em;
	margin-bottom: .1em;
	padding: 0; /* margin between bullet and content */
}

#editform { width: 100%; }  /* prevent overflow in IE when editing */

textarea {
	font-size: 100%;
	width: 99%;	 /* fix the textarea oversize in IE */
	padding: 2px 0 0 2px;
	margin: 0;
	border: 1px solid #3399FF;
	height: 600px;
}

/* pre{ */
/* white-space: pre;			/* CSS2 */
/* white-space: -moz-pre-wrap;  /* Mozilla */
/* white-space: -hp-pre-wrap;   /* HP printers */
/* white-space: -o-pre-wrap;	/* Opera 7 */
/* white-space: -pre-wrap;	  /* Opera 4-6 */
/* white-space: pre-wrap;	   /* CSS 2.1 */
/* white-space: pre-line;	   /* CSS 3 (and 2.1 as well, actually) */
/* word-wrap: break-word;	   /* IE */
/* } */

pre {
	white-space: -moz-pre-wrap;  /* need for Firefox */
	overflow-x: visible;  /* need for Firefox, extreme long string :( */
	padding: 1em;
	border: 1px dashed #2f6fab;
	color: black;
	background: #F1FFFF;
	line-height: 1.2em;
	margin: 1.1em 0;
}
* html pre {
	word-wrap: break-word;  /* IE */
}
.visualClear { clear: both;}

.errorbox, .successbox {
	margin-top:	 .2em;
	margin-bottom:  1em;
}

#contentSub, #contentSub2 {
	font-size: 90%;
	line-height: 1.2em;
	margin: 0.5em 0 1.4em 0;
	color: #7d7d7d;
	width: auto;
}

/* edit section
-----------------------------------------------------------------------------*/
* html div.editsection {
	font-size: 90%;
}
.editsection {
	font-size: 90%;
	margin-top: 1px;
	color: #ddd; /* color for [] */
}
.editsection a,
.editsection a:visited {
	color: #CC6600;
}
.editsection a:hover {
	color: #FF3300;
}

/* category
-----------------------------------------------------------------------------*/
#catlinks {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: .3em;
	margin-top: 1em;
	clear: both;
}
#catlinks p, .catlinks {
	margin:  0;
	padding: 0;
}

/* content-actions
-----------------------------------------------------------------------------*/
#gumax-content-actions
{
	/* border:  1px solid #000; /* debuging */
	text-align: left; /* menu location */
	height: 1.5em;  /* need for IE win */
	font-size: 102%;
	margin: .2em 15px .7em 15px;
	white-space: nowrap;
}

.gumax-content-actions-top {
	border-top: 5px solid #eee;
	border-collapse: collapse;
}
.gumax-content-actions-bottom {
	border-bottom: 5px solid #eee;
	border-collapse: collapse;
}

#gumax-content-actions ul
{
	list-style: none;
	margin: 0;
}
#gumax-content-actions ul li
{
	display: inline;
	overflow: visible;
	/* color: #999;  /* the font color of '|' */
	margin: 0 .3em 0 0;
}
#gumax-content-actions ul li a
{
	padding: .1em .5em .2em .5em;
	text-decoration: none;
	/* border: 1px solid #ddd; /* menu border */
	font-size: 95%;
}

.gumax-firstHeading {
	font-weight: bold;
	font-size: 150%;
	color: #0066cc;
	float: left;
	margin: .5em 15px 0 15px;
}
.gumax-content-actions-top li#ca-edit {

}

/* Footer
-----------------------------------------------------------------------------*/
#gumax_footer_spacer
{
	height: 20px;
	background: transparent url("images/three_dot.gif") center center repeat-x;  /* footer spacer background */
}

#gumax-footer
{
	/* border:  1px solid #000; /* debuging */
	padding-bottom: 3.2em;
	color: #999;
	font-size: 90%;
	text-align: right; /* page footer location */
	margin-left:  15px;
	margin-right: 15px;
}

#gumax-footer ul
{
	list-style: none;
}
#gumax-footer ul li {
	display: inline;
	overflow: visible;
	color: #bbb; /* the font color of '|' */
	margin: 0;
}
#gumax-footer ul li a
{
	padding: 2px 0px 2px 12px;
	background: transparent url("nav_rrow.gif") left 1px no-repeat;
}

#gumax-f-message {
	padding-top: 3px;
}

/* Special:Specialpages
-----------------------------------------------------------------------------*/
#allmessagestable { /* system message table fix */
	table-layout: fixed;
	width:	 100%;
	max-width: 100%;
	margin-top: 20px;
}
#allmessagestable.left td {
	width: 30%;
}

table.imagelist, table.TablePager { /* image list table fix */
	/* table-layout: fixed; /**/
	width:	 100%;
	max-width: 100%;
	margin-top: 0.3em;
}
.TablePager td, .TablePager th {
	border: 1px solid #777;
}
.imagelist td, .imagelist th {
	white-space: normal;
}
/* remove line wrapping for TablePager_col_links */
.imagelist .TablePager_col_links {
	white-space: nowrap;
}

/* file gallery fix */
/*
table.gallery {
	margin: 2px 0;
	padding: 2px 0;
}
div.gallerybox {
	margin: 2px 1px;
	width:  125px;
}
div.gallerybox div.thumb {
	margin: 2px 0;
}
*/

/* Random HTML
-----------------------------------------------------------------------------*/
hr {
	height: 1px;
	color: #aaa;
	background-color: #aaa;
	border: 0;
	margin: .2em 0 .2em 0;
}

input[type="submit"] { font-weight: bold; }

/* for margin between paragraphs */
.cc {
	font-size: 10%;
	padding: 0.2em 0 0.2em 0;
	margin: 0;
}
/*-------------------------------------
	<div class="cc">&nbsp;</div>
-------------------------------------*/

/*
 * Force Opera / Moz / Netscape
 * to display an _IN_active vertical scrollbar
 * (like IE).
 */
html {
	overflow-y: scroll;
}

/*
make a few corners round
only supported by moz/firefox/other gecko browsers for now
-----------------------------------------------------------
*/
div.breadcrumbs {
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-topright: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
}

/* IE/Mac fixes
-----------------------------------------------------------------------------*/
/* fix for position of image inside table */
table {
	/* position: none !important;  /* positioning, except IE */
	/* position: relative;		 /* positioning for IE */
}

/* the positioning of preferences */
/* float/negative margin brokenness */
* html #preferences {
	width: 90%;
}

/* login form fix */
div#userloginForm form,
form#userlogin2 {
	width: 500px;
}

/* page shadow
-----------------------------------------------------------------------------*/
.gumax-rbcontentwrap { background: transparent url('images/gm_shadow_l.png') repeat-y; }
.gumax-rbcontent	 { background: transparent url('images/gm_shadow_r.png') repeat-y right; }
.gumax-rbcontent	 { padding: 0px 12px; }

/* IE fix */
* html .gumax-rbcontentwrap { background: none; }
* html .gumax-rbcontent	 { background: none; }
* html .gumax-page { border-left:  3px solid #e7e7e7; border-right:  3px solid #e7e7e7; }
